footer {
  margin-top: 100px;
  .container {
    .footer {
      height: 150px;
      color: white;
      h2 {
      
      }
    }
  }
}
footer {
  background-color: black;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}